@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #191A19;
    color: #191A19;
}

.login-container {
    display: flex;
    align-items: center;
    background-color: #D8E9A8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    justify-content: space-evenly;
    margin: 35px auto;
    border-radius: 60px;
}

.text-container {
    text-align: center;
    padding: 20px;
    color: #D8E9A8;
    background: linear-gradient(#1E5128, #4E9F3D);
    height: 90vh;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 60px;
    letter-spacing: 5px;
}

.text-container h1 {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 1rem;
}

.form-container {
    flex: 2;
    padding: 20px;
    text-align: center;
}

.form-group {
    margin: 5px 15px;
    width: 25vw;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 5px;
    /* border: 1px solid #F9F7F7; */
    background-color: #D8E9A8;
    border-radius: 3px;
    border-style: none;
    border-bottom: 1px solid #191A19;
    font-size: 1rem;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4E9F3D;
    color: #D8E9A8;
    border: none;
    cursor: pointer;
    margin: 10px 0px;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #D8E9A8;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background-color: #0056b3; */
        border-radius: 10rem;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #1E5128;
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }

    &:hover {
        color: #D8E9A8;

        &:before {
            width: 100%;
        }
    }
}

.actForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.labelText {
    text-align: left;
    font-size: 1rem;
}

.form-container h2 {
    font-size: 2rem;
    font-weight: 800;
}