@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FBF8F1;
    color: black;
}

.login-container {
    display: flex;
    align-items: center;
    background: linear-gradient(#E9DAC1, #F7ECDE);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 60%;
    justify-content: space-evenly;
    margin: 35px auto;
    border-radius: 60px;
}

.text-container {
    text-align: center;
    padding: 20px;
    color: black;
    background: linear-gradient(#219B9D, #54BAB9);
    height: 90vh;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 60px;
    letter-spacing: 5px;
}

.text-container h1 {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 1rem;
}

.form-container {
    flex: 2;
    padding: 20px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin: 5px 15px;
    width: 25vw;
}

.form-group div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.submitGroup {
    align-items: center;
}

.form-group input {
    width: 100%;
    padding: 5px;
    /* border: 1px solid #F9F7F7; */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
}

.button {
    width: 90%;
    display: block;
    background-color: #219B9D;
    /* color: #D8E9A8; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    margin: 10px 0px;
    padding: 10px;
    transition: background-color 0.3s;
    font-size: 1.5rem;
    border-radius: 10px;
}

.button:hover {
    background-color: #54BAB9;
}

/* .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4E9F3D;
    color: #D8E9A8;
    border: none;
    cursor: pointer;
    margin: 10px 0px;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #D8E9A8;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #4E9F3D;
        border-radius: 10rem;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #1E5128;
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }

    &:hover {
        color: #D8E9A8;

        &:before {
            width: 100%;
        }
    }
} */

.actForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.labelText {
    text-align: left;
    font-size: 1rem;
}

.form-container h2 {
    font-size: 2rem;
    font-weight: 800;
}

input[type="file"]::file-selector-button {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    transition: all 0.2s;
}

input[type="file"]::file-selector-button:hover {
    background-color: #54BAB9;
}